@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
    themes: all;
    /* darktheme: "dark";
    base: true;
    styled: true;
    utils: true;
    prefix: "";
    logs: true;
    themeroot: ":root"; */
}
