@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
    themes: all;
    /* darktheme: "dark";
    base: true;
    styled: true;
    utils: true;
    prefix: "";
    logs: true;
    themeroot: ":root"; */
}

.conversation-item .avatar.online:before {
    width: 8px;
    height: 8px;
    top: 1%;
    right: 1%;
}
