@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
    themes:
        light --default,
        dark --prefersdark;
    root: ":root";
    include:;
    exclude:;
    prefix:;
    logs: true;
}
